.app {
    padding: 2rem;
}

main {
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    max-width: 50%;
    margin: 0 auto;
    background-color: #0303032b;
    padding: 1.5rem;
    padding-top: 3rem;
    border-radius: 25px;
}

img{
    margin: auto;
}

aside h1,
p {
    text-align: center;
    font-size: 2rem;
}

aside h1 {
    font-weight: bold;
    margin-bottom: 2rem;
}

section {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #1312122b;
    padding: 1.5rem;
    padding-top: 2rem;
    border-radius: 25px;   
}